<div id="notfound">
    <div class="notfound">
        <div class="notfound-404">
            <h1>5<span>0</span>0</h1>
        </div>
        <p>we have error in server please try later</p>
        <a href="/">home page</a>
    </div>
</div>